
/* Blog sidebar */
#blogsidebar {
	float: left;
	width: 20%;
	left: 0px;
    padding-top: 15px;
}

/* Blog About */
.blogaboutcontent {
}

.blogabouttitle {
	margin: 5px;
	border-bottom: 2px solid #484848;
	color: #484848;
}

.blogabout
{
    margin-left: auto;
    margin-right: auto;    
	padding: 0px 10px 10px 10px;
	border-bottom: dashed 1px #DDDDDD;
}

/* Blog Cloud */
.blogcloudcontent {
}

.blogcloudtitle {
	margin: 5px;
	border-bottom: 2px solid #484848;
	color: #484848;
}

.blogcloud 
{
    margin-left: auto;
    margin-right: auto;    
	padding: 0px 10px 10px 10px;
	border-bottom: dashed 1px #DDDDDD;
}

/* Blog Archive */
.blogarchivecontent {
}

.blogarchivetitle {
	margin: 5px;
	border-bottom: 2px solid #484848;
	color: #484848;
}

.blogarchive {
    margin-left: auto;
    margin-right: auto;    
	padding: 0px 10px 10px 10px;
	border-bottom: dashed 1px #DDDDDD;
}

/* Blog Bottom */
.blogbottomcontent 
{
}

.blogbottomtitle {
	margin: 5px;
	border-bottom: 2px solid #484848;
	color: #484848;
}

.blogbottom
{
    margin-left: auto;
    margin-right: auto;    
	padding: 0px 10px 10px 10px;
	border-bottom: dashed 1px #DDDDDD;
}



/* Blog Post */
/****************************************************************************/
#blogcontent {
	float: left;
	width: 80%;
}

.blogpost {
    margin-left: auto;
    margin-right: auto;    
    width: 550px;
    min-height:210px;
	padding: 20px 20px;
	background: url(Images/BlogPostBackground.jpg) no-repeat top left;
}

.blogtitle {
	margin: 0;
	border-bottom: 2px solid #484848;
	color: #484848;
}

.blogavatar a
{
}

.blogavatar a img
{
    float: left;
    margin-right: 10px;
    margin-bottom: 0px;
}

.blogavatartitle
{
	margin: 0;
	border-bottom: 2px solid #484848;
	color: #484848;    
	padding-top: 44px;
}

.blogbyline {
	margin: 0;
	color: #D79B00;
}

.blogentry 
{
    margin-top: 10px;
    border-bottom: dashed 1px #DDDDDD;    
}

.blogmeta 
{
    padding: 5px;
	text-align: left;
	color: #646464;
}

.blogmeta .blogmore 
{
    padding-top: 2px;
	padding-left: 20px;
	padding-bottom: 4px;
	padding-right: 2px;
	background: url(Images/BlogPostReadMore.gif) no-repeat left center;
}

.blogmeta .blogcomments {
    padding-top: 2px;
	padding-left: 20px;
	padding-bottom: 4px;
	padding-right: 2px;
	background: url(Images/BlogPostComments.gif) no-repeat left center;
}


